<div class="row">
  <div class="container">
    <div class="header col-md-6 col-md-offset-3">
      <%= form_tag businesses_path, method: :get, class: "input-group", role: "search" do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Find restaurants, cafes, fun places" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", name: nil, class:"btn btn-default" %>
        </span>
      <% end %>
    </div>
  </div>
</div>